/* GENERAL*/ 

@font-face {
	font-family: 'Baskerville';
	font-style: normal;
	font-weight: 400;
	src: local('Baskerville Serial Black'), local('Baskerville Serial Black'), url(resources/baskerville.woff) format('woff');
}
html, body {
	overflow-x: hidden !important;
}
html * {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-size: 1.5em;
	width: 100%;
}
a {
	color: #FFFFFF;
}
a:hover {
	color: rgba(255,255,255,.6);
}

/* TITLES */

h1 {
	font-family: 'Baskerville';
	letter-spacing: -.05em;
	font-size: 5vw;
}
h3, h4, h5, h6 {
	text-transform: uppercase;
}

/* SECTIONS GENERAL */

.full { /* All sections */
	color: #FFFFFF;
	text-align: center;
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.band { /* Separator sections */
	color: #FFFFFF;
	text-align: center;
	min-height: 20%;
	min-height: 20vh;
	display: flex;
	align-items: center;
}

/* COLORED BACKGROUNDS */


.pink {
	background: url(resources/pink.svg) no-repeat fixed;
	background-size: 100% 100%;
}
.blue {
	background: url(resources/blue.svg) no-repeat fixed;
	background-size: 100% 100%;
}
.lilac {
	background: url(resources/lilac.svg) no-repeat fixed;
	background-size: 100% 100%;
}
.tangerine {
	background: url(resources/tangerine.svg) no-repeat fixed;
	background-size: 100% 100%;
}

#about {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}

/* HEADER */ 

.img-circle {
	width: 100px !important;
}

/* PROJECT SECTION CONTENT*/
.description {
	background-color: rgba(255,255,255,0.2); 
	text-align: left; 
	padding: 2vw; 
	margin-top: 3vw;
	margin-left: 2vw;
	margin-right: 2vw;
}
.details {
	margin-top: 3vh; 
	text-align: center; 
}

/* CAROUSEL */

@media only screen and (max-width: 640px) { /* FOR SMALL DEVICES */
	h1 {
		font-size: 20vw;
	}
	.name {
		font-size: 15vw !important;
	}
	.no-extra {
		padding: 0 !important;
		margin: 0 !important;
	}

	.description {
		margin-left: 10vw !important;
		margin-right: 10vw !important;
		padding: 5vw !important;
	}

	.full {
		padding-top: 10vh !important;
		padding-bottom:10vh !important;
		width: 100vw;
	}

	.height-first {
		height: 95vh;
	}
	.width-first {
		width: 100vw;
		height: 45vh;
	}
	.carousel-cell {
		width: 100%;
		height: 100%;
	}
	.hImg {
		height: 100%; 
		width: auto;
	}
	.wImg {
		width: 100%;
		height: auto;
	}
	.pink,.blue,.lilac,.tangerine{
		background-size: 800% 100%;
	}
}
@media only screen and (min-width: 640px) and (max-width: 1600px) { /* FOR LAPTOPS */ 

	.flex-row {
		min-height: 100%; 
		height: 100%; 
		width: 100%;
		display: flex; 
		align-items: center;
	}
	.expand-height {
		height: 100vh !important;
	}
	.expand-width {
		width: 100vw !important;
	}
	.carousel {
		height: 90%;
	}
	.carousel-cell {
		width: 100%;
		height: 100%;
	}
	.hImg,.wImg {
		height: 100%; 
		width: auto;
	}
}